BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false

IndentCaseLabels: true

ColumnLimit: 0

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: ControlStatements

NamespaceIndentation: All
AccessModifierOffset: -4

SortIncludes: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false